$ext-version: '7.7.0.31' !default;  // Updated automatically by the build script.
$ext-trial: true !default; // Updated automatically by the build script.
$ext-beta: false !default; // Updated automatically by the build script.
@import 'compass/css3';

@import 'recipes/gradients';

@import 'mixins';
@import 'functions';
